*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# 빌드 결과물
build/
*/build/
.gradle/
/local.properties
.externalNativeBuild
.cxx
captures/
*.iml
.idea/workspace.xml
.idea/libraries/
.idea/caches/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/vcs.xml
.idea/kotlinc.xml
.DS_Store
